<div class="center">
  <h3>Random Ingredients</h3>
  <div class="row">
    <div class="col-sm-3">
      <a href="/ingredient/182-Italian-Fennel-Sausages">
        <figure>
          <img
            src="/images/ingredients/Italian Fennel Sausages.png"
            width="95%"
          />
          <figcaption><br />Italian Fennel Sausages</figcaption>
        </figure>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/ingredient/499-Custard-Powder">
        <figure>
          <img src="/images/ingredients/Custard Powder.png" width="95%" />
          <figcaption><br />Custard Powder</figcaption>
        </figure>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/ingredient/463-Hazlenuts">
        <figure>
          <img src="/images/ingredients/Hazlenuts.png" width="95%" />
          <figcaption><br />Hazlenuts</figcaption>
        </figure>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/ingredient/119-Egg-Plants">
        <figure>
          <img src="/images/ingredients/Egg Plants.png" width="95%" />
          <figcaption><br />Egg Plants</figcaption>
        </figure>
      </a>
    </div>
    <br /><br />
    <img
      src="/images/separator.jpg"
      style="width: 100%; object-fit: contain"
    /><br />
  </div>

  <h3>Browse Country</h3>

  <a href="/browse/area/gb"> <img src="/images/icons/flags/big/64/gb.png" /></a>

  <a href="/browse/area/us"> <img src="/images/icons/flags/big/64/us.png" /></a>

  <a href="/browse/area/fr"> <img src="/images/icons/flags/big/64/fr.png" /></a>

  <a href="/browse/area/ca"> <img src="/images/icons/flags/big/64/ca.png" /></a>

  <a href="/browse/area/jm"> <img src="/images/icons/flags/big/64/jm.png" /></a>

  <a href="/browse/area/cn"> <img src="/images/icons/flags/big/64/cn.png" /></a>

  <a href="/browse/area/nl"> <img src="/images/icons/flags/big/64/nl.png" /></a>

  <a href="/browse/area/eg"> <img src="/images/icons/flags/big/64/eg.png" /></a>

  <a href="/browse/area/gr"> <img src="/images/icons/flags/big/64/gr.png" /></a>

  <a href="/browse/area/in"> <img src="/images/icons/flags/big/64/in.png" /></a>

  <a href="/browse/area/ie"> <img src="/images/icons/flags/big/64/ie.png" /></a>

  <a href="/browse/area/it"> <img src="/images/icons/flags/big/64/it.png" /></a>

  <a href="/browse/area/jp"> <img src="/images/icons/flags/big/64/jp.png" /></a>

  <a href="/browse/area/kn"> <img src="/images/icons/flags/big/64/kn.png" /></a>

  <a href="/browse/area/my"> <img src="/images/icons/flags/big/64/my.png" /></a>

  <a href="/browse/area/mx"> <img src="/images/icons/flags/big/64/mx.png" /></a>

  <a href="/browse/area/ma"> <img src="/images/icons/flags/big/64/ma.png" /></a>

  <a href="/browse/area/hr"> <img src="/images/icons/flags/big/64/hr.png" /></a>

  <a href="/browse/area/no"> <img src="/images/icons/flags/big/64/no.png" /></a>

  <a href="/browse/area/pt"> <img src="/images/icons/flags/big/64/pt.png" /></a>

  <a href="/browse/area/ru"> <img src="/images/icons/flags/big/64/ru.png" /></a>

  <a href="/browse/area/ar"> <img src="/images/icons/flags/big/64/ar.png" /></a>

  <a href="/browse/area/es"> <img src="/images/icons/flags/big/64/es.png" /></a>

  <a href="/browse/area/sk"> <img src="/images/icons/flags/big/64/sk.png" /></a>

  <a href="/browse/area/th"> <img src="/images/icons/flags/big/64/th.png" /></a>

  <a href="/browse/area/sa"> <img src="/images/icons/flags/big/64/sa.png" /></a>

  <a href="/browse/area/vn"> <img src="/images/icons/flags/big/64/vn.png" /></a>

  <a href="/browse/area/tr"> <img src="/images/icons/flags/big/64/tr.png" /></a>

  <a href="/browse/area/sy"> <img src="/images/icons/flags/big/64/sy.png" /></a>

  <a href="/browse/area/dz"> <img src="/images/icons/flags/big/64/dz.png" /></a>

  <a href="/browse/area/tn"> <img src="/images/icons/flags/big/64/tn.png" /></a>

  <a href="/browse/area/pl"> <img src="/images/icons/flags/big/64/pl.png" /></a>

  <a href="/browse/area/ph"> <img src="/images/icons/flags/big/64/ph.png" /></a>

  <br /><br />
  <h3>Browse By Name<br /></h3>
  <h2>
    <a href="/browse/letter/a">A</a> / <a href="/browse/letter/b">B</a> /
    <a href="/browse/letter/c">C</a> / <a href="/browse/letter/d">D</a> /
    <a href="/browse/letter/e">E</a> / <a href="/browse/letter/f">F</a> /
    <a href="/browse/letter/g">G</a> / <a href="/browse/letter/h">H</a> /
    <a href="/browse/letter/i">I</a> / <a href="/browse/letter/j">J</a> /
    <a href="/browse/letter/k">K</a> / <a href="/browse/letter/l">L</a> /
    <a href="/browse/letter/m">M</a> / <a href="/browse/letter/n">N</a> /
    <a href="/browse/letter/o">O</a> / <a href="/browse/letter/p">P</a> /
    <a href="/browse/letter/q">Q</a> / <a href="/browse/letter/r">R</a> /
    <a href="/browse/letter/s">S</a> / <a href="/browse/letter/t">T</a> /
    <a href="/browse/letter/u">U</a> / <a href="/browse/letter/v">V</a> /
    <a href="/browse/letter/w">W</a> / <a href="/browse/letter/x">X</a> /
    <a href="/browse/letter/y">Y</a> / <a href="/browse/letter/z">Z</a>
  </h2>
</div>
